export(aoristic.all.graph)
export(aoristic.density)
export(aoristic.df)
export(aoristic.grid)
export(aoristic.shp)
export(aoristic.spdf)
import(GISTools)
import(classInt)
import(ggplot2)
import(lubridate)
import(reshape2)
import(spatstat)
